@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
/* ==========================================
	Type Based Settings
============================================*/
/* ==========================================
	Color Settings
============================================*/
/* ==========================================
	Type and List Based Mixins
============================================*/
/* ==========================================
	Style Mixins
============================================*/
/* ==========================================
	Color Based Mixins
============================================*/
/* ==========================================
	Media Queries
============================================*/
/**
 * Popular breakpoints (taken from the grid)
 */
/**
 * Example of use
 *

	P{
		font-size: 12px;
		@include mq($tablet){
			font-size 20px;
		}
	}

 *
 */
/**
 * As per: stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.img img {
  display: block; }

.body {
  overflow: hidden; }

.body > :last-child {
  margin-bottom: 0; }

/**
 * Simple floats
 */
.pull-left {
  float: left; }

.pull-right {
  float: right; }

/**
 * Big up @necolas: nicolasgallagher.com/micro-clearfix-hack
 */
.cf:before,
.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

.top-border {
  border-top: 1px solid grey; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* ==========================================
    Useful
============================================*/
::-moz-selection {
  text-shadow: none;
  color: white; }

::selection {
  text-shadow: none;
  color: white; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

html {
  font-size: 16px;
  overflow-y: scroll; }

body {
  background-color: #272727;
  padding: .625em; }

/* ==========================================
	Links
============================================*/
a {
  color: #e4e4e4;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s linear;
  /* Firefox 4-15 */
  -o-transition: all 0.1s linear;
  /* Opera 10.50–12.00 */
  transition: all 0.1s linear;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  outline: none;
  border: none; }
  a:hover, a:focus, a:active {
    text-decoration: underline;
    outline: none;
    border: none; }

/* ==========================================
    Paragraphs
============================================*/
p {
  color: #e4e4e4;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-style: normal; }

/* ==========================================
	Tables
============================================*/
/* ==========================================
    Lists
============================================*/
ul, ol {
  color: #e4e4e4;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0; }

/* ==========================================
    Images
============================================*/
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  width: auto; }

/* ==========================================
		Global Styles
============================================*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 0;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  color: #e4e4e4; }

/* ==========================================
	Large Heading Styles
============================================*/
/* ==========================================
	Headings Detail
============================================*/
/* ==========================================
	Micro Copy
============================================*/
/* ==========================================
	GLOBAL LAYOUTS
============================================*/
.wrapper {
  max-width: 61.875em;
  margin: 0 auto; }
  .wrapper.relative {
    position: relative; }

/* ==========================================
	HEADER
============================================*/
/* ==========================================
	SLIDER (OVERRIDES)
============================================*/
/* ==========================================
	GRIDS
============================================*/
/* ==========================================
	FOOTER
============================================*/
/* ==========================================
	Site Wide Components
============================================*/
.title {
  text-align: center;
  margin: 2.5em 0 5em 0; }

.row {
  display: block;
  width: 100%;
  margin-bottom: 2em;
  text-align: center; }

.input input {
  float: none; }
  @media screen and (min-width: 37.5em) {
    .input input {
      float: right; }
      .input input:first-child {
        float: left; } }

a.btn {
  color: #e4e4e4;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  color: #e4e4e4;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: .9em;
  padding: .625em 1.875em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
  a.btn:hover {
    border-color: rgba(0, 0, 0, 0.5); }
  a.btn:active {
    border-bottom-width: 0;
    border-color: rgba(0, 0, 0, 0.9); }

a.btn.btn-red {
  background-color: #e48681; }

a.btn.btn-red:hover {
  background-color: #e27e79;
  text-decoration: none; }

a.btn.btn-red:active {
  background-color: #df726c; }

.row.add {
  position: relative;
  margin-bottom: 3.25em; }
  .row.add input {
    position: absolute;
    width: 3.125em;
    text-align: center; }

.btn-plus {
  background-color: #5fdb9f;
  font-size: 20px;
  font-size: 1.25rem; }

.btn-plus:hover {
  background-color: #57d99a;
  text-decoration: none; }

.btn-plus:active {
  background-color: #4ad693;
  text-decoration: none; }

.plus-input {
  width: 10%;
  text-align: center; }

.options {
  margin-top: 2em; }

.pound {
  display: inline-block;
  color: #e4e4e4;
  font-size: 1.5em;
  margin-right: .3em;
  margin-top: .15em; }

.footer p {
  border-top: 2.5px solid #E4E4E4;
  padding-top: 1.25em; }

 /* ==========================================
	Page Specific
============================================*/
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.2s ease;
  opacity: 0; }

[placeholder]:focus:-moz-placeholder {
  /* Firefox 18- */
  transition: opacity 0.2s ease;
  opacity: 0; }

[placeholder]:focus::-moz-placeholder {
  /* Firefox 19+ */
  transition: opacity 0.2s ease;
  opacity: 0; }

[placeholder]:focus:-ms-input-placeholder {
  transition: opacity 0.2s ease;
  opacity: 0; }

.form input[type="text"] {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0 none;
  border-bottom: 2.5px solid #e4e4e4;
  line-height: 1;
  background-color: #272727;
  color: #e4e4e4;
  margin-bottom: 2em;
  font-size: 20px;
  font-size: 1.25rem; }
  @media screen and (min-width: 37.5em) {
    .form input[type="text"] {
      width: 40%;
      margin-bottom: 0; } }
  .form input[type="text"]:focus {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none; }

.border {
  border-bottom: 2.5px solid #e4e4e4; }

.success {
  border-bottom: 2.5px solid #57D99A; }

.error {
  border-bottom: 2.5px solid #E48681; }

input[type="number"] {
  border: none;
  background-color: inherit;
  color: #e4e4e4;
  font-size: 20px;
  font-size: 1.25rem; }
  input[type="number"]:focus {
    box-shadow: none;
    outline: none; }

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  display: block;
  width: 8px;
  color: #e4e4e4;
  position: relative; }

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
  content: "^";
  position: absolute;
  right: 0;
  font-family: monospace;
  line-height: 1; }

input[type=number]::-webkit-inner-spin-button:before {
  top: 5px; }

input[type=number]::-webkit-inner-spin-button:after {
  bottom: 0px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg); }
