// ============================
//	Components Partial File for:
//	Author: Shane Griffiths
//	Project Contributors:
//
//	* Intructions
//	---------------------------
//	1. Use this file for any specific conponents.
//	2. They could be global (i.e. widgets) or page specific (i.e. about page infographic). Try and keep page specific at the bottom of the file.
//	3. Items such as header, sidebar, footer etc belong in the _layout.scss section as it's core structure and site wide.
//
//============================ */

/* ==========================================
	Site Wide Components
============================================*/
.btn {
	@include body-font;
	display: inline-block;
	text-align: center;
	color: $copy;
	text-transform: uppercase;
	letter-spacing: .125em;
	font-size: .9em;
	padding: .625em 1.875em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);

	&:hover {
		border-color: rgba(0,0,0,0.5);
	}

	&:active {
		border-color: rgba(39,39,39,1);
	}
}

.btn-red {
	background-color: $red;

	&:hover {
		background-color: darken($red, 2%);
		text-decoration: none;
	}

	&:active {
		background-color: darken($red, 5%);
	}
}

//new rows button
.row.add {
	position: relative;
	margin-bottom: 3.25em;

	&:after {
		content: 'More people?';
	}

	input {
		position: absolute;
		width: 3.125em;
		text-align: center;
	}
}
.btn-plus {
	background-color: $green;
	position: relative;

	&:after {
		display: none;

		@include mq($desktop) {
			content: 'More people?';
			position: absolute;
			display: block;
			top: 30%;
			right: 130%;
			text-transform: none;
			width: 200%;
		}
	}

	&:hover {
		background-color: darken($green, 2%);
		text-decoration: none;
	}

	&:active {
		background-color: darken($green, 5%);
		text-decoration: none;
	}
}


.pound {
	display: inline-block;
	color: $copy;
	font-size: 1.5em;
	margin-right: .3em;
	margin-top: .15em;
	&:after {
		display: none;

		@include mq($desktop) {
			content: 'Set the Budget';
			position: absolute;
			display: block;
			top: 25%;
			right: 0%;
			text-transform: none;
			font-size: .9rem;
			letter-spacing: .1em;
			width: 123%;
		}
	}
}
.row.budget{
	position: relative;
	margin-bottom: 3.25em;

	&:after {
		content: 'Set the Budget';
	}

	input {
		position: absolute;
		width: 3.125em;
		text-align: center;	
	}
}

.plus-input {
	width: 10%;
	text-align: center;
}


//options
.options {
	margin-top: 2em;
}



 /* ==========================================
	Page Specific
============================================*/
