// ============================
//	Components Partial File for:
//	Author: Shane Griffiths
//	Project Contributors:
//
//	* Intructions
//	---------------------------
//	1. Use this file for any specific conponents.
//	2. They could be global (i.e. widgets) or page specific (i.e. about page infographic). Try and keep page specific at the bottom of the file.
//	3. Items such as header, sidebar, footer etc belong in the _layout.scss section as it's core structure and site wide.
//
//============================ */

/* ==========================================
	Site Wide Components
============================================*/

//general layout
.row{
	display: block;
	width: 100%;
	margin-bottom: 2em;
	text-align: center;
}

//logo
.title{
	text-align: center;
	margin: 2.5em 0em;
}

//Submit Button
a.btn {
	@include body-font;
	display: inline-block;
	text-align: center;
	color: $copy;
	text-transform: uppercase;
	letter-spacing: .125em;
	font-size: .9em;
	padding: .625em 1.875em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);

	&:hover {
		border-color: rgba(0,0,0,0.5);
	}

	&:active {
		border-bottom-width: 0;
		border-color: rgba(0,0,0,0.9);
	}
}

a.btn.btn-red{
	background-color: $red;
}
a.btn.btn-red:hover {
	background-color: darken($red, 2%);
	text-decoration: none;
}

a.btn.btn-red:active {
	background-color: darken($red, 5%);
}







//new rows button
.row.add input{
	width: 5%;
	text-align: center;
}
.btn-plus{
	background-color: $green;
	@include font-size(20);
}
.btn-plus:hover{
	background-color: darken($green, 2%);
	text-decoration: none;
}
.btn-plus:active{
	background-color: darken($green, 5%);
	text-decoration: none;
}

.plus-input{
	width: 10%;
	text-align: center;
}

input[type="number"]{
	border: none;
	background-color: inherit;
	color: $copy;
	@include font-size(20);
	&:focus{
		box-shadow: none;
		outline: none;
	}

}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: $copy;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;
    line-height:1;
}

input[type=number]::-webkit-inner-spin-button:before {
    top:5px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:0px;
    -webkit-transform: rotate(180deg);
}


//options
.options{
	margin-top: 3.25em;
}

//footer
.footer p{
	border-top: 2.5px solid #E4E4E4;
	padding-top: 1.25em;
}

 /* ==========================================
	Page Specific
============================================*/
