// ============================
//	Forms Partial File for:
//	Author: Shane Griffiths
//	Project Contributors:
//
//	* Intructions
//	---------------------------
//	1. This file contains forms styles (can be used to override formalize.css)
//
//============================ */

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.2s ease;
  opacity: 0;
}

[placeholder]:focus:-moz-placeholder { /* Firefox 18- */
	transition: opacity 0.2s ease;
	opacity: 0;
}

[placeholder]:focus::-moz-placeholder {  /* Firefox 19+ */
	transition: opacity 0.2s ease;
	opacity: 0;
}

[placeholder]:focus:-ms-input-placeholder {
	transition: opacity 0.2s ease;
	opacity: 0;
}

//form
.form input[type="text"]{
	width: 45%;
	border: 0 none;
	border-bottom: 2.5px solid $copy;
	line-height: 1;
	background-color: $bg;
	color: $copy;
	@include font-size(20);
	&:focus{
		outline: none;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		-ms-box-shadow: none;
	}
	&:nth-of-type(odd){
		margin-right: 9%;
	}
}


.border{
	border-bottom: 2.5px solid $copy;
}
.success{
	border-bottom: 2.5px solid #57D99A;
}
.error{
	border-bottom:2.5px solid #E48681;
}