// ============================
//	Layout Partial File for:
//	Author: Shane Griffiths
//	Project Contributors:
//
//	* Intructions
//	---------------------------
//	1. Use this file for any core structure and global structure styles.
//	2. Such as header, footer, nav, sidebar, section, articles etc etc
//	3. Anything more specific and move it to _components.scss.
//	4. If there is a small grid system then we can use that in here.
//
//============================ */


/* ==========================================
	GLOBAL LAYOUTS
============================================*/
.wrapper {
	max-width: 61.875em; //990px
	margin: 0 auto;

	&.relative {
		position: relative;
	}
}

/* ==========================================
	HEADER
============================================*/
.title{
	text-align: center;
	margin: 2.5em 0 5em 0;
}

/* ==========================================
	GRIDS
============================================*/
.row {
	display: block;
	width: 100%;
	margin-bottom: 2em;
	text-align: center;
}

/* ==========================================
	FOOTER
============================================*/
.footer {
	margin-top: 2em;

	p {
		border-top: 2.5px solid #E4E4E4;
		padding-top: 1.25em;
	}
}
