// ============================
//	Mixins Partial File for:
//	Author: Shane Griffiths
//	Project Contributors:
//
//	* Intructions
//	---------------------------
//	1. Useful mixins used on all projects. Include project specific ones towards the bottom of the document.
//
//============================ */


/* ==========================================
	Type and List Based Mixins
============================================*/
 @mixin font-size($size: 16){
  font-size: $size + px;
  font-size: $size / 16 + rem;
}

// Mixins for list style types
@mixin unordered {
	list-style-position: outside;
	list-style-type: disc;
}

@mixin unordered-inside {
	list-style-position: inside;
	list-style-type: disc;
}

@mixin ordered {
	list-style-position: outside;
	list-style-type: decimal;
}

@mixin ordered-inside {
	list-style-position: inside;
	list-style-type: decimal;
}

@mixin nobullet {
	list-style-type: none;
}

@mixin list-reset{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


/* ==========================================
	Style Mixins
============================================*/
 @mixin rounded{
	border-radius: 4px;
 }


/* ==========================================
	Color Based Mixins
============================================*/
@mixin back-color($color, $value: 1) {
	background-color: $color;
	background-color: rgba($color, $value);
}
@mixin font-color($color, $value: 1) {
	color: $color;
	color: rgba($color, $value);
}


/* ==========================================
	Media Queries
============================================*/

/**
 * Popular breakpoints (taken from the grid)
 */

$desktop: 600;
$basefont: 16;

@mixin mq($point, $query1: min, $query2: width, $IE9: false) {

@if $IE9 == true{
	// if true then give an IE conditional class 'fallback' for oldIE
	.lt-ie9 & {
	  @content;
	}
   @media screen and (#{$query1}-#{$query2}: $point / $basefont +em) {
	  @content;
	}
  }
  @else {
	// if not true (suggest writing - false - for clarity no 'fallback'
	@media screen and (#{$query1}-#{$query2}: $point / $basefont +em) {
	  @content;
	}
  }
}

/**
 * Example of use
 *

	P{
		font-size: 12px;
		@include mq($tablet){
			font-size 20px;
		}
	}

 *
 */