// ============================
//	Settings Partial File for:
//	Author: Shane Griffiths
//	Project Contributors:
//
//	* Intructions
//	---------------------------
//	1. Project Specific settings.
//	2. Set colours, fonts, base units etc etc.
//
//============================ */


/* ==========================================
	Type Based Settings
============================================*/
@mixin heading-font {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	color: $copy;
}
@mixin body-font($type: regular, $style: normal){
	$value: 0;
	color: $copy;
	@if $style == italic {
		$value: 'i';
	} @else {
		$value: 'n';
}
@if $type == thin {
	font-family: 'Droid Sans', sans-serif;;
	font-weight: 100;
}
@if $type == light {
	font-family: 'Droid Sans', sans-serif;;
	font-weight: 300;
} @else if $type == regular {
	font-family: 'Droid Sans', sans-serif;;
	font-weight: 400;
} @else if $type == bold {
	font-family: 'Droid Sans', sans-serif;;
	font-weight: 700;
}
	font-style: $style;
}


/* ==========================================
	Color Settings
============================================*/
//$primary-color: ;
$bg: #272727;
$copy: #E4E4E4;

